<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

<body background="http://i.imgur.com/eW1xgkG.png" style="width: 100vw; height: 100vh; background-repeat: no-repeat; background-position: center center;">
  <div class="row">
    <div class="col"> </div>
    <div class="col-8"></div>
    <div class="col">
      <%= link_to "Menu", menus_path(section: "Breakfast"), class:"btn btn-outline-success" %>
      <%= link_to "Contact Us", contact_us_path, class:"btn btn-outline-success" %>
    </div>
  </div>
<div class="container-fluid" style="height: 100%; display: flex; justify-content: center; align-items: center;">
  <div>
    <p class="text-center" style="font-family: 'Shrikhand', cursive; font-size: 70px;" ><b> LyTi's </b></p>
    <p class="text-center" style="font-family: 'Shrikhand', cursive; font-size: 70px;" ><b> By The Beach </b></p>
  </div>
</div>

</body>
