<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="text-center"> <%= @item.name%> </h1>
  <p class="text-center"> <%= @item.description%> </p>

    <img src="<%= @item.image_url %>" alt="Card image cap" style="width:80%; height:80%;" >
</div>
